$text-color: #000;
$description-color: #000;
$white-color: #fff;
$gray-color: #f3f3f7;

$primary-color: #3D75C1;
$primary-dark-color: #FFC700;
$primary-black-color: #FFC700;

$secondary-color: #006AFF;
$secondary-dark-color: #006AFF;
$secondary-black-color: #006AFF;

$box-shadow-color: #000000;
$box-shadow-strengths: (
	light: 22,
	regular: 33,
	dark: 66,
);