#about {
	// padding: 16px;
	text-align: center;

	.wrapper {
		background: #111111;
		padding: 64px 16px;
	}

	.top {
	}
	.bottom {
		.title,
		.subtitle {
			color: #fff;
		}
		.title {
			margin: 32px 0 16px;
		}
	}

	@media screen and (min-width: 600px) {
		.top {
			picture {
				max-width: 640px;
				margin: 0 auto;
			}
		}
	}
}
