#process {
	padding: 64px 0;
	max-width: 960px;
	margin: 0 auto;

	.title {
		color: #fff;
		text-align: center;
		margin-top: 0;
		margin-bottom: 32px;
	}
	.text {
		color: #fff;
	}

	.steps {
		padding: 16px;

		.divider {
			display: flex;
			justify-content: center;
			width: 100%;
			max-width: 640px;
			margin: 0 auto;
			padding: 0 64px;

			.svg,
			svg {
				width: 100%;
			}
		}
	}

	.step {
		position: relative;

		color: #fff;

		.wrapper {
			display: flex;
			flex-direction: column;
			padding: 32px;
			max-width: 640px;
			position: relative;
		}
		&.left .wrapper {
			margin-left: auto;
		}

		svg {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: -1;

			rect {
				// stroke-dasharray: 0, 1000;
				// stroke-dasharray: 1000, 1000;
				transition: stroke-dasharray 1.2s ease;
			}
		}

		&.numbered {
			.wrapper:before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				border: 2px solid #333333;
				box-sizing: border-box;
				z-index: -2;
			}

			.number {
				width: 64px;
				height: 64px;
				// background: #009806;
				background: #333;
				position: relative;
				margin-right: 32px;
				border-radius: 8px;

				span {
					font-size: 24px;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
			}

			.right {
				flex: 1;
			}

			.animatedDivider svg {
				padding: 0 64px;
				height: auto;
				top: auto;
				bottom: 100%;
				z-index: 0;
				stroke-dasharray: 0, 5000;
				max-width: 640px;
				left: 50%;
				transform: translate(-50%, 0);

				path {
					stroke: #009806;
					transition: stroke-dasharray 0.3s ease;
				}
			}
		}

		.little {
			color: #009806;
			margin-bottom: 8px;
		}
		a {
			color: #c58e00;
			text-decoration: underline;
		}
	}
}
